*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --first-color: #2E4053;
    --second-color: #7F8C8D;
    --third-color: #F1C40F;
    --black-color: #111111;
    --black-alpha-color: rgba(0, 0, 0, 0.6);
    --white-color: #FFFFFF;
    --max-width: 1200px;
}

html{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.section {
  padding: 2rem 1rem;
}
.section-title {
  border-top: thin solid var(--first-color);
  border-bottom: thin solid var(--first-color);
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  width: 300px;
  text-align: center;
  color: var(--first-color);
  font-size: 1.5rem;
}

/*********************** HEADER ********************************/
.header{
    background-color: var(--first-color);
    width: 100%;
    height: 6rem;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px 0px;
}

.header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: none;
}
.call{
    display: none;
}
.none{
    display: none;
}

.menu-btn{
    border: 0;
    background-color: var(--first-color);
}

.menu-btn svg{
    cursor: pointer;
}
/* ****************** START *********************/
.start{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.start-content{
    padding: 0 2rem;
}
.start-title{
    color: var(--first-color);
    font-weight: 600;
}
.start-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.start-image img{
    width: 500px;
}


/*****************BG CONTACT US**********************/
.bg-contact-us{
    background-color: var(--first-color);
    padding: 2rem;
}
.bg-contact-us > .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--white-color);
}
/**************** MENUU ********************/
.menu a,
.call a{
    text-decoration: none;
    padding: 1rem;
    color: var(--white-color);
    font-weight: 500;
}

/******************* HERO IMAGE  *********************/
.hero-image{
    background-image: url('../assets/hero-image-herreria.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.hero-image-opacity {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--black-alpha-color);
}
.hero-image-title{
    font-size: 2rem;
    margin-bottom: .5rem;
    color: var(--white-color);
    font-weight: 400;
}

.btn{
    background-color: var(--third-color);
    display: inline-block;
    text-decoration: none;
    color: var(--first-color);
    font-weight: 600;
    padding: .6rem;
    border-radius: 5px;
}
.hero-image-text{
    color: var(--white-color);
    /* width: 400px; */
    margin-top: 1rem;
}
.hero-image-text span{
    font-weight: 700;
}


/*************** ABOUT **************/
.about-image{
    background-image: url('../assets/about-image.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.about-image-content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--white-color);
    text-align: justify;
    width: 300px;
}

.about-image-title{
    font-weight: 500;
    text-align: center;
}

/************* SERVICES *****************/
.services{
    display: flex;
    justify-content: center;
}
.service-content{
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
    margin: 1rem 0;
}
.service{
    background-color: var(--first-color);
    margin: 3px;
    color: var(--white-color);
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}
.right-services img{
    width: 400px;
}

/************ WORKS *************/
.works{
    padding-top: 5rem;
}
.content-word img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*************FORM*******************/
.contact{
    background-color: var(--first-color);
    z-index: -99;
    padding-top: 5rem;
}
.contact .section-title{
    color: var(--white-color);
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    padding: .5rem;
}
.input-container {
    position: relative;
    margin: 30px auto;
    width: 100%;
}
  
.input-container input[type="text"],
.input-container textarea {
    font-size: 1rem;
    width: 100%;
    border: none;
    border: 2px solid var(--white-color);
    border-radius: 5px;
    padding: 8px 10px;
    color: var(--white-color);
    background-color: transparent;
    outline: none;
}
.input-container input[type="text"]:focus,
.input-container textarea:focus{
    border: none;
}
.input-container .label {
    position: absolute;
    top: 6px;
    left: 10px;
    color: var(--white-color);
    padding: 2px 5px;
    transition: all 0.3s ease;
    pointer-events: none;
}
.input-container input[type="text"]:focus,
.input-container textarea:focus,
.input-container input[type="text"]:valid,
.input-container textarea:valid {
    border-color: transparent;
}
.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label,
.input-container textarea:focus ~ .label,
.input-container textarea:valid ~ .label {
    top: -20px;
    font-size: .8rem;
    color: var(--white-color);
    background-color: var(--second-color);
    border-radius: 2px;
}
textarea{
    resize: none;
    width: 100%;
    height: 150px;
    font-family: "Poppins", sans-serif;
}
.input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--second-color);
    transform: scaleX(0);
    transition: all 0.3s ease;
}
  
.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline,
.input-container textarea:focus ~ .underline,
.input-container textarea:valid ~ .underline {
    transform: scaleX(1);
}
  

#formulario button[type="submit"]{
    width: 100%;
    padding: .5rem;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
	background-color: transparent;
	color: var(--third-color);
    cursor: pointer;
	border: 2px solid var(--third-color);
    transition: all 0.5s ease-in-out;
}

.contact button[type="submit"]{
	padding: .5rem 2rem;
	border-radius: 5px;
	position: relative;
}
.contact button[type="submit"]:hover{
    color: var(--white-color) !important;
    transform: scale(1);
	text-decoration: none;
}
.contact button[type="submit"]::before{
	background-color: var(--third-color);
}
.contact button[type="submit"]::before {
	content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: width 500ms;
}
.contact button[type="submit"]:hover::before {
    width: 100%;
}

/******************** FOOTER ****************/
.footer{
    background-color: var(--first-color);
    width: 100%;
    position: relative;
}
.footer::before{
    content: "";
    height: 1px;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--white-color);
    opacity: .2;
}
.content-contact{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    padding: 2rem;
}
.location{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-align: center;
}
.location h3{
    color: var(--white-color);
}
.location p{
    /* width: 50%; */
    color: var(--white-color);
}
.location iframe{
    width: 85vw;
    height: 30vh;
}
.icons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    margin-top: 2rem;
}
.icons-content{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.icons p{
    color: var(--white-color);
}
.phones a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.phones svg{
    color: var(--white-color);
}
.phones p{
    color: var(--white-color);
}

/************************ICON WHASTAPP**********************/
.btn-wsp{
    position:fixed;
    width: 45px;
    height: 45px;
    line-height: 48px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    background: #20ba5a;
}
/* RESPONSIVE DESIGN */
/* Mobile */
/* @media (max-width: 480px) */
/* style */

/* cellphone */
@media screen and (max-width: 790px){
    .menu{
        z-index: 999;
		display: block;
		position: fixed;
		top: 6rem;
		background-color: var(--first-color);
		left: 0;
		padding: 4rem;
		height: 100vh;
		width: 100vw;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.5s ease-in-out;
    }
    .menu a{
        display: flex;
        margin: .5rem;
        justify-content: center;
        position: relative;
    }
    .menu a::before{
        content: "";
        height: 1px;
        width: 100%;
        top: 100%;
        left: 0;
        position: absolute;
        background-color: var(--white-color);
        opacity: .2;
    }
    .is-active {
		pointer-events: auto;
		opacity: 1;
	}
    .services-content{
        margin-top: 2.5rem;
    }
}
/* Small tablets */
@media (min-width: 768px) and (max-width: 991px){
    /* style */ 
    .menu{
        display: block;
    }
    .menu a{
        transition: all 0.5s ease-in-out;
    }
    .menu a:hover{
        color: var(--third-color);
    }
    .menu-btn{
        display: none;
    }
    .call{
        display: block;
    }
    .call a{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }.call a{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    .hero-image-title{
        font-size: 2.5rem;
    }
    .hero-image-text{
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    .about-image-content{
        width: 500px;
    }
    .services-content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .right-services img{
        width: 450px;
    }
    .content-word .section-title {
        grid-column: span 2;
    }
    .content-word{
        display: grid;
        grid-template-columns: repeat(2, 48%);
    }
    .contact .section-title{
        font-size: 20px;
    }
    .location iframe{
        width: 90vw;
        height: 30vh;
    }
}
/* Large tablets/laptops*/
@media (min-width: 992px) and (max-width:1199px){
    /* style */
    .menu{
        display: block;
    }
    .menu a{
        transition: all 0.5s ease-in-out;
    }
    .menu a:hover{
        color: var(--third-color);
    }
    .menu-btn{
        display: none;
    }
    .call{
        display: block;
    }
    .call a{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    .hero-image-title{
        font-size: 3rem;
    }
    .hero-image-text{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .start{
        padding: 2rem;
        flex-direction: row;
    }
    .about-image-content{
        width: 700px;
    }
    .services-content{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .right-services img{
        width: 500px;
    }
    .content-word .section-title {
        grid-column: span 3;
    }
    .content-word{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .contact .section-title{
        font-size: 24px;
    }
    .location iframe{
        width: 92vw;
        height: 30vh;
    }
}



/* desktops*/
@media (min-width: 1200px) and (max-width:1919px){
    /* style */
    .menu{
        display: block;
    }
    .menu a{
        transition: all 0.5s ease-in-out;
    }
    .menu a:hover{
        color: var(--third-color);
    }
    .menu-btn{
        display: none;
    }
    .call{
        display: block;
    }
    .call a{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    .hero-image-title{
        font-size: 3.5rem;
    }
    .hero-image-text{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .start{
        /* padding: 2rem; */
        flex-direction: row;
    }
    .about-image-content{
        width: 700px;
    }
    .services-content{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .right-services img{
        width: 500px;
    }
    .content-word .section-title {
        grid-column: span 3;
    }
    .content-word{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .contact .section-title{
        font-size: 28px;
    }
    .content-contact{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .location iframe{
        width: 400px;
        height: 250px;
    }
    .location p{
        width: 50%;
    }
    .location{
        text-align: left;
    }
    .btn-wsp{
        width:60px;
        height:60px; 
        line-height: 60px;
        font-size:35px;
    }
    .about-image-title{
        font-size: 2rem;
    }
}




/* Extra large screens */
@media (min-width: 1920px){
    .full-lg-screen {
        width: 100%;
        min-height: 100vh;
    }
    /* style */
    .menu{
        display: block;
    }
    .menu a{
        transition: all 0.5s ease-in-out;
    }
    .menu a:hover{
        color: var(--third-color);
    }
    .menu-btn{
        display: none;
    }
    .call{
        display: block;
    }
    .call a{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    .hero-image-title{
        font-size: 3.5rem;
    }
    .hero-image-content{
        min-width: 1200px;
    }
    .hero-image-opacity{
        text-align: start;
    }
    .hero-image-text{
        width: 500px;
    }
    .start{
        flex-direction: row;
    }
    .about-image-content{
        width: 700px;
    }
    .services-content{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .right-services img{
        width: 600px;
    }
    .service{
        width: 250px;
        padding: 1rem;
    }
    .content-word .section-title {
        grid-column: span 3;
    }
    .content-word{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .contact .section-title{
        font-size: 32px;
    }
    .content-contact{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .location iframe{
        width: 400px;
        height: 250px;
    }
    .location p{
        width: 50%;
    }
    .location{
        text-align: left;
    }
    .btn-wsp{
        width:60px;
        height:60px; 
        line-height: 60px;
        font-size:35px;
    }
    .about-image-title{
        font-size: 2rem;
    }
}